/*
*{
    CSS for every element
}
*/

/*target header HTML element*/
header{
    text-align:center;
    background-color:black;
    color:white;
    padding:10px;
}

/*target img HTML element*/
img{
    width:80%;
    height:80%;
    align:middle;
}

/*target footer HTML element*/
footer{
    text-align:center;
    background-color:black;
    color:white;
    padding:10px;
}

/*target small HTML element*/
small{
    color:red;
}

/*targets container class*/
.container{
    width:75%;
    margin:auto;
    border: 2px red solid;
    padding: 2px;
}

#target{
    background-color: blue;
}

/*targets all section elements under class container*/
.container section{
    border:2px blue dashed
}

a{
    text-decoration: nonel
}

/*when user hovers over an <a> element*/
a:hover{
    color:red;
}


/*target input elements with type attribute="text"*/
.my-form input[type="text"], .myform textarea{
    padding:8px
}

.block{
    float:left;
    width:33.3%;
    border:1px;
    box-sizing:border-box;
    /*border-box takes any additional changes and adjusts to the border/width */
}


/*
psuedo  
first-child    last-child    nth-child(5)    */
.my-list li:first-child{
    background:blue;
}